# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
env/
venv/
ENV/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Large datasets & data folder
/data/
/data/**
!frontend/src/data/**
*.csv
*.tsv
*.parquet
*.h5
*.pkl
*.joblib
mlmodel/*.csv
*.png
!frontend/public/*.png
!frontend/src/**/*.png

# Logs & temp
*.log
logs/
.DS_Store
Thumbs.db
# Large PDF assets (hosted on Cloudinary)
frontend/public/pdfs/
